

.forgot-password__parent {
  display: flex;
  justify-content: space-between;
  // width: 100%;

  &-block {
    display: flex;
    justify-content: space-between;
    // margin-left: 140px;
    &-item {
      display: flex;
      flex-direction: column;
      width: 40vw;
      justify-content: center;
      margin-left: 100px;
      height: 100vh;
      h1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #063e8d;
      }
      &-childOne {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 20px 0;
        justify-content: space-between;
        h4 {
          font-size: 20px;
          font-weight: 400;
          line-height: 32.23px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #bbbbbb;
          max-width: 100%;
        }
        a {
          font-size: 20px;
          font-weight: 400;
          line-height: 32.23px;
          text-align: left;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-underline-position: from-font;
          text-decoration-skip-ink: auto;
          color: #07A6C9;
        }
      }
      &-child {
        display: flex;
        gap: 20px;
        &-column {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          input {
            width: 230px;
            height: 60px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: #ececec;
            padding: 10px;
            font-size: 20px;
          }
          label {
            font-size: 20px;
            font-weight: 400;
            line-height: 32.23px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }
        &-columnReal {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 10px;
          input {
            width: 480px;
            height: 60px;
            background-color: #ececec;
            border: none;
            outline: none;
            border-radius: 10px;
            padding: 10px;
            font-size: 20px;
          }
          label {
            font-size: 20px;
            font-weight: 400;
            line-height: 32.23px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }

        &-columnLogin {
          margin-top: 122px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          &-complete {
            width: 480px;
            height: 60px;
            border-radius: 10px;
            background-color: #063e8d;
            border: none;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    &-itemTwo {
      width: 50vw;
      height: 100vh;
      background: linear-gradient(180deg, #08a0c2 0%, #152f34 100%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
